.booking {
    position: relative;
    width: 1366px;
    height: 1064px;

    background: #F5F5F5;

}
.list-car {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    padding-top: 105px;
    margin-left: 250px;
    width: 1118px;
    height: 979px;
}
.list-car_item{
    width: 1034px;
    height: 788px;
    display: flex;
    flex-direction: column;
    gap:40px;
    margin: 40px 40px 118px 44px;
}
.car_item-box{
    display: flex;
    flex-direction: row;
    gap:40px;
}
.car-item {
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    isolation: isolate;
    background-color: #fff;

    border-radius: 6%;
    width: 318px;
    height: 236px;
    left: 292px;
    top: 118px;

}
.recomemnt {

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    margin-top: 15px;
    margin-left: 27px;
    width: 170px;
    height: 24px;

}
.car-picture {

    width: 275px;
    height: 123px;

    margin-left: 15px;
    flex: none;
    order: 1;
    flex-grow: 0;
    z-index: 1;

}

.text-1 {

    position: absolute;
    font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 38px;
    margin-left: 27px;
    color: #000000;

    flex: none;
    order: 2;
    flex-grow: 0;
    z-index: 2;

}
.bottom-car {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;

    height: 100px;

}
.icon1 {
    width: 20px;
    height: 20px;
    margin-left: 27px;
}
.text-2 {
    width: 30px;
    height: 18px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #72767C;

    margin-left: 16px;
}
.icon2 {
    width: 16px;
    height: 16px;
    margin-left: 16px;
    }
.icon3 {
    width: 16px;
    height: 16px;
    margin-left: 16px;
}
.text-3 {
    width: 39px;
    height: 18px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    color: #72767C;
    margin-left: 95px;
}

.pt1 {
    margin-top: -7px;
}
.pt2 {
    margin-top: 21px;
}
.pt3 {
    margin-top: 18px;
}
.pt4 {
    margin-top: 9px;
}
.pt5 {
    margin-top: 9px;
}
.pt6 {
    margin-top: 25px;
}
.pt7 {
    margin-top: 20px;
}
.pt8 {
    margin-top: 30px;
}
.pt9 {
    margin-top: 25px;
}