* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #F5F5F5;
}
ul {
    margin: 0;
}
#sidebar {
    position: fixed;
    width: 20%;
    height: 100%;
    background: #FFFFFF;
    border-right: 0.5px solid #aaaaaa;
}
.sidebar_list{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    height: 90%;
    gap:30% ; 
    margin: 30px 50px 30px 24px;
}
.sidebar_top {
    width: 15%;
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 35px; 
    flex: 1;
}
.sidebar_top-logo {
    display: flex;
    align-items: center;
    gap: 12px;
}
.caradver {
    font-family: "DM Sans";
    font-size: 24px;
    font-weight: 700;
    line-height: 31.25px;
    text-align: left;
    color: #1F2128;
}

.sidebar_top-contents {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}

.btn_item   {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 34px;
    gap: 10px;
    border-radius: 6px;
    background-color: #FFFFFF;
    text-decoration: none;
}
.btn {
    font-family:"DM Sans";
    gap: 10px;
    color: #5F6165;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    border-radius: 5px;
}
.btn_item:hover{
    background-color:#F3F5F8;
    color: #FFFFFF;
    cursor: pointer;
}
.sidebar_bottom { 
    width: 15%;
    display: flex; 
    position: fixed;
    bottom: 25px;
    flex-direction: column; 
    gap: 24px; 
}
.btn_item img {
    margin-left: 10px;
}
.right {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}
#top{
    display: flex;
    position: fixed;
    transition: top 0.3s;
    z-index: 1000;
    align-items: center;
    width: 100%;
    height: 65px;
    background: #FFFFFF;
    border-bottom: 0.5px solid #b9b9b9;
    margin-bottom: 15px;
}
.top_contents{
    display: flex;
    align-items: center;
    gap: 45%;
    width: 92%;
    height: 48px;
    margin: 15px 44.4px;
    box-sizing: border-box;
}
.top_contents-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: Hug (46px)px;
    opacity: 0px;
    padding: 12px 14px;
    gap: 10px;
    width: 358px;
    background: #F5F4F6;
    border-radius: 8px;
    box-sizing: border-box;
}

.top_contents-search input{
    gap: 8px;
    width: 358px;
    height: 22px;
    font-family: DM Sans;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.83px;
    text-align: left;
    color:#7C7C8D;
    border: none;
    outline:none;
    background-color:#F5F4F6 ;
    margin-left: 16px;
    caret-color:#EF9011;
}
.top_contents-right{
    display: flex;
    position: fixed;
    right: 25px;
    gap: 35px;
}

.name_pay {
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 38px;
    margin: 120px 0 0 5%;
}
#text_name-car {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
.frame_div {
    display: flex;
    flex-direction: row;
    gap: 65%;
    width: 46%;
    height: 29px;
    margin-left: auto;
}
.money {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.right_main {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 94%;
    height: 413px;
    margin: 35px 0 0 5%;
}
.img_car {
    width: 52%;
    height: 413px;
}
.img_car img {
    width: 100%;
    height: 100%;
}
.right_main-frame_box {
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.frame_box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 245px;
    font-family: Arial;
    border: 2px solid #D5D5D5;
    border-radius: 14px;
}
.frame_wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 23px;
    gap: 28px;
    height: 50px;
    margin-top: 18px;
}
.eric {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    height: 44px;
}
.eric > b:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.eric > b:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
}
.frame_wrapper1-parent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 163px;
    height: 17px;
    margin-left: 42px;
    margin-top: 16px;
}
.frame_wrapper1-child {
    display: flex;
    flex-direction: row;
    gap: 32%;
}
.box1-text1 {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-weight: 500;
}
.frame_box1 a {
    width: 75px;
    height: 14px;
    margin-left: 77%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #757474;
    text-decoration: none;
}
.frame_box1 .frame_wrapper2 {
    width: 100%;
    height: 100px;
    margin-top: 23px;
    background: #D9D9D9;
    border-radius: 0px 0px 14px 14px;
}
.frame_box1 .frame_wrapper2 .frame_wrapper2-child {
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin: 25px 0 0 42px;
    width: 50%;
}
.frame_box1 .frame_wrapper2 b:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.frame_box1 .frame_wrapper2 .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.contact-child {
    display: flex;
    flex-direction: row;
    gap: 7%;
    width: 100%;
}
.frame_wrapper2 a {
    width: 112px;
    height: 14px;
    margin: 64px 0 0 70%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #757474;
}
.frame_box1 a:hover {
    color: #000000;
}
.frame_box2 {
    width: 100%;
    height: 142px;
    box-sizing: border-box;
}
.frame_box2 ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 21px;
}
.frame_box2-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 19px;
}
.frame_box2-item h3 {
    width: auto;
    height: 19px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 37px;
}
.frame_box3 {
    width: 93%;
    height: 385px;
    margin: 30px 0 0 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.frame_box3-img {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 311.26px;
}
.frame_box3-img img {
    width: 23.8%;
    height: 100%;
}
.arrow {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
