* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: #F5F5F5;
}
ul {
    margin: 0;
}
.sidebar{
    height:100%;
    z-index: 1;
}
iframe{
    width: 100%;
    position: fixed;
    border: 0;
}
.right-top{
    position: relative;
    /* z-index: 1; */
}
.right {
    position: absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}

.right {
    position:absolute;
    width: 80%;
    height: 100%;
    left: 20%;
}
.name_pay {
    display: flex;
    flex-direction: row;
    width: 94%;
    height: 38px;
    margin: 120px 0 0 5%;
}
#text_name-car {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    color: #000000;
}
.frame_div {
    display: flex;
    flex-direction: row;
    gap: 65%;
    width: 46%;
    height: 29px;
    margin-left: auto;
}
.money {
    font-family: Arial;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}
.right_main {
    display: flex;
    flex-direction: row;
    gap: 2%;
    width: 94%;
    height: 413px;
    margin: 35px 0 0 5%;
}
.img_car {
    width: 52%;
    height: 413px;
}
.img_car img {
    width: 100%;
    height: 100%;
}
.right_main-frame_box {
    width: 46%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.frame_box1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 245px;
    font-family: Arial;
    border: 2px solid #D5D5D5;
    border-radius: 14px;
}
.frame_wrapper1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 23px;
    gap: 28px;
    height: 50px;
    margin-top: 18px;
}
.eric {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
    height: 44px;
}
.eric > b:nth-child(1) {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}
.eric > b:nth-child(2) {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #B5B5B5;
}
.frame_wrapper1-parent {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 163px;
    height: 17px;
    margin-left: 42px;
    margin-top: 16px;
}
.frame_wrapper1-child {
    display: flex;
    flex-direction: row;
    gap: 32%;
}
.box1-text1 {
    font-style: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    font-weight: 500;
}
.frame_box1 a {
    width: 75px;
    height: 14px;
    margin-left: 77%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #757474;
    text-decoration: none;
}
.frame_box1 .frame_wrapper2 {
    width: 100%;
    height: 100px;
    margin-top: 23px;
    background: #D9D9D9;
    border-radius: 0px 0px 14px 14px;
}
.frame_box1 .frame_wrapper2 .frame_wrapper2-child {
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin: 25px 0 0 42px;
    width: 50%;
}
.frame_box1 .frame_wrapper2 b:first-child {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.frame_box1 .frame_wrapper2 .contact {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 100%;
}
.contact-child {
    display: flex;
    flex-direction: row;
    gap: 7%;
    width: 100%;
}
.frame_wrapper2 a {
    width: 112px;
    height: 14px;
    margin: 64px 0 0 70%;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #757474;
}
.frame_box1 a:hover {
    color: #000000;
}
.frame_box2 {
    width: 100%;
    height: 142px;
    box-sizing: border-box;
}
.frame_box2 ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 45% 50%;
    gap: 21px;
}
.frame_box2-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 19px;
}
.frame_box2-item h3 {
    width: auto;
    height: 19px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin-left: 37px;
}
.frame_box3 {
    width: 93%;
    height: 385px;
    margin: 30px 0 0 5%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.frame_box3-img {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 311.26px;
}
.frame_box3-img img {
    width: 23.8%;
    height: 100%;
}
.arrow {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
